* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Opti', cursive;
    overflow: hidden;
}

html, body{
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0.62) 62%, rgba(56,170,220,0.8) 100%);
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

header .logo {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo img{
    height: 40px;
    width: 40px;
}

header .logo h4{
    font-size: 8px;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .description{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
main .description h5{
    font-weight: normal;
    text-align: center;
    font-size: 14px;
}

.telecharger {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: sans-serif;
    background-color: #66afe0;
}
.telecharger:hover {
    background-color: #044b7a;
}
.circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
}
.circle img {
    width: 20px;
    height: 20px;
}

main h4{
    font-weight: lighter;
    font-size: 30px;
}

main .telecharger .circle{
    background-color: white;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

main .telecharger .circle img{
    height: 40px;
    width: 40px;
}

main .phone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 8px;
}

